/* Main Content ----------------------------- */
header, article, aside, footer, ul, li, p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#fullpage {
    max-width: 62em;
    margin: auto;
}

header, article, aside, footer {
    padding: 10px 1em;
    margin: 0 5% 10px;
    border:1px solid #111; 
    min-height: 12em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header {
    background-image: url("image/header.jpg"); 
    margin-top: 10px;
}

#shutdown { 
    background-image: url("image/shutdown.jpg"); 
}

#reboot {

    background-image: url("image/reboot.jpg"); 
}

#footer {

    background-image: url("image/transmission.jpg"); 
}

footer h1 {
    padding-top:3em;
}

article {
    min-height: 10em;
}
aside {
    min-height: 5em;
}

h1 { 
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h1, h2 {
    font-weight: bold;
    margin: 5px 0;
}
p { 
    font-size: 1em;
    margin: 5px 0;
}
ul {
    padding-left: 10px;
    margin: 10px 0;
    list-style-type: none;
}
li {
    font-weight: bold;
}

/* Media ---------------------------------------*/

@media only screen and (min-width: 38em) {
    article {
    }
    }
    footer {
        clear: both;
    }
}
